
@media (min-width:200px) {
  /*style nav start
  .sm-oculto {
  display: none;
  }
  
  /*style nav end*/
  .container {
  max-width: 500px !important;
  }
  .ruta-dir {
  display: none;
  }
  /* señor wilder resolucion */
  /* .o-scroll{
  overflow-y: scroll;
  height:300px;
  width: 100%;
  background: #f60000;
  } */
  .col-sm-3 {
  flex: 0 0 25% ;
  max-width: 25%;
  }
  .img-primary {
  max-width: 100%;
  }
  .img-secundary {
  max-width: 100%;
  }
  .side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding-inline-start: 0;
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform
  }
  .disp-n-lm {
  visibility: hidden;
  }
  }















  /*
  ______________________________________________________________________________________________
  _______________________________((371))_______________________________________________________________
  ______________________________________________________________________________________________
  __________________________________________________________________________________________________________________________________________________________________________________________________ */
  @media (min-width:371px) {
    .quickview-plus-minus {
      display: flex;
      justify-content: center;
      padding-top: 0;
  }
  .cart-plus-minus {
    border: 1px solid #dcdcdc !important;
    overflow: hidden !important;
    padding: 0px 0 0px 0px !important;
    width: 77px !important  ;
}
  .quickview-btn-cart > a {
    background-color: #3a3a3a;
    color: #fff !important;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 0.08px;
    line-height: 1;
    padding: 2px 2px;
    position: relative;
    text-transform: uppercase;
    z-index: 5;
}
.myInput-btn > a {
  background-color: #f2f2f2;
  color: rgb(82, 82, 82) !important;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 2px 2px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
}
  .container {
  max-width: 540px !important;
  }
  .max-input-search {
      width: 300px !important;
  }
  .nav-top {
    margin-top: 22px !important;
  }
  .perdonal-open-sidebar {
    padding: 0;
  }
  .sm-oculto {
    display: none;
  }
  .ruta-dir {
  display: none;
  }
  #typeahead-template {
      width: 81% !important;
  }
  .module-login {
    display: none;
  }
  .xzoom2 {
    /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) !important;*/
    /* margin-bottom: 15px !important;   */
    height: auto !important;
      width: 100% !important;
    }
  /* xiaomi redmi note 9 */
  /* .o-scroll{
  overflow-y: scroll;
  height:300px;
  width: 100%;
  background: #f60000;
  } */
  .col-sm-3 {
  flex: 0 0 25% ;
  max-width: 25%;
  }
  .img-primary {
  max-width: 100%;
  }
  .img-secundary {
  max-width: 100%;
  }
  .side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding-inline-start: 0;
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform
  }
  .disp-n-lm {
  visibility: hidden;
  }
  }
  

























  /*
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________
  ________________________________________________min-width:400px______________________min-width:400px________________________
  __________________________________________________________________________________________________________________________________________________________________________________________________ */
  @media (min-width:400px) {
    .quickview-plus-minus {
      display: flex;
      justify-content: center;
      padding-top: 0;
  }
  .cart-plus-minus {
    border: 1px solid #dcdcdc !important;
    overflow: hidden !important;
    padding: 0px 0 0px 0px !important;
    width: 77px !important;
}
  .quickview-btn-cart > a {
    background-color: #3a3a3a;
    color: #fff !important;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 0.08px;
    line-height: 1;
    padding: 2px 2px;
    position: relative;
    text-transform: uppercase;
    z-index: 5;
}
.myInput-btn > a {
  background-color: #f2f2f2;
  color: rgb(82, 82, 82) !important;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 2px 2px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
}
    .max-input-search {
        width: 380px !important;
  }
  .btn-f {
  font-size: .7rem;
  padding: .1rem .6rem !important;
  margin: 0 .2rem 0 0;
  }
  .ruta-dir {
  font-size: .6rem !important;
  }
  .font-title{
  font-size: 1.5rem;
  }
  .navbar-brand{
  margin-right: 0px !important;
  }
  .sm-oculto {
  display: none;
  }
  .container {
  max-width: 540px !important;
  }
  /* .o-scroll{
  overflow-y: scroll;
  height:270px;
  width: 100%;
  background: #110808;
  } */
  .side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding-inline-start: 0;
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform
  }
  .disp-n-lm {
  visibility: hidden;
  }
  }
  
  /*
  ______________________________________________________________in-width:576px__________in-width:576px______________________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________ */
  @media (min-width:576px) {
    .module-login {
      display: block;
    }
  .sm-oculto {
  display: none;
  }
  .side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding-inline-start: 0;
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform
  }
  .btn-f {
  font-size: .8rem;
  padding: .1rem .8rem !important;
  margin: 0 .2rem 0 0;
  }
  .ruta-dir {
  font-size: .6rem !important;
  }
  .font-title{
  font-size: 1.5rem;
  }
  .navbar-brand{
  margin-right: 0px !important;
  }
  .disp-n-m {
  display: none !important;
  }
  
  .container {
  max-width: 540px !important;
  }
  
  
  }
  
  @media only screen and (max-width:670px) {
  .category-v4 h1 {
  font-size: 1rem
  }
  }
  /*
  ______________________________________________________________________________________________
  __________________________:768px____________________________:768px________________________________________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________ */
  @media (min-width:768px) {
  
  .container {
  max-width: 720px !important;
  }
  .o-scroll{
  overflow-y: scroll;
  height:40px;
  width: 100%;
  /* background: #ff08b5; */
  }
  
  }
  
  /*
  ___________________________________________ 992px____________________________________ 992px_______________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________ */
  /*
  ______________________________________________________________________________________________
  _____________________________:992px_________________________________________________________________
  _________________________________________________________________________:992px_____________________
  ______________________________________________________________________________________________ */
  
  @media (min-width:992px) {
    
.quickview-plus-minus {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}
.quickview-btn-cart > a {
  background-color: #3a3a3a;
  color: #fff !important;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
}
.myInput-btn > a {
  background-color: #fff9f9;
  color: #3a3a3a !important;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;;
}
.quickview-btn-wishlist > a {
  border: 1px solid #dcdcdc;
  color: #727272;
  display: inline-block;
  font-size: 22px;
  padding: 11px 18px 2px;
  z-index: 0;
}
    .max-input-search {
      width: 432px !important;
  }
    .img-zoom-container .img-zoom-result {
      width:100% !important; 
      height:600px !important; 
      background-repeat: no-repeat;
      margin-left: 0; 
      z-index: 999; 
      position:absolute;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
      top: 0;
      left: 100%;
    }
  .container {
  max-width: 1400px !important;
  }
  .sm-oculto {
  display: block;
  }
  
  .sidebar {
    padding: 20px;
    width: 100% !important;
    color: rgb(7, 7, 7);
  }
  .dm-responsive {
  display: none;
  }
  .o-scroll{
  overflow-y: scroll;
  height:540px;
  width: 100%;
  /* background: #531010; */
  
  }
  .dn-responsive {
  display: none;
  }
  .myclase3{
  width: 400px;
  }
  .side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 25%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding-inline-start: 0;
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform
  }
  
  .small-my {
  display: none;
  }
  .mx-md-newnav {
  margin-left: 13rem !important;
  margin-right:13rem !important;
  }
  .nav-top {
  margin-top: 60px !important;
  }
  .width-80 {
  width: 80% !important;
  }
  .disp-n-lm {
  visibility: visible !important;
  }
  #my-grup {
  border: 2px solid #333 !important;
  };
  .col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
  }
  .my-position {
  position: fixed;
  }
  .xzoom2 {
    /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) !important;*/
    /* margin-bottom: 15px !important;   */
    height: auto !important;
      width: 82% !important;
    }
    #typeahead-template {
      width: 404 !important;
    }
  }
  /*
  _________________________________________________________n-width:1134p____________________________n-width:1134p_________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________ */
  @media (min-width:1134px) {
    
.quickview-plus-minus {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}
.quickview-btn-cart > a {
  background-color: #3a3a3a;
  color: #fff !important;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
}
.myInput-btn > a {
  background-color: #fff9f9;
  color: #3a3a3a !important;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;;
}
.quickview-btn-wishlist > a {
  border: 1px solid #dcdcdc;
  color: #727272;
  display: inline-block;
  font-size: 22px;
  padding: 11px 18px 2px;
  z-index: 0;
}
    .max-input-search {
      width: 712px !important;
  }
  
    .perdonal-open-sidebar {
      padding-top: 12px;
    }
  .container {
  max-width: 1400px !important;
  }
  .dm-responsive {
  display: none;
  }
  .o-scroll{
  overflow-y: scroll;
  height:540px;
  width: 100%;
  /* background: #531010; */
  
  }
  .small-my {
  display: none;
  }
  .mx-md-newnav {
  margin-left: 13rem !important;
  margin-right:13rem !important;
  }
  .nav-top {
  margin-top: 60px;
  }
  .width-80 {
  width: 80% !important;
  }
  .disp-n-lm {
  visibility: visible !important;
  }
  #my-grup {
  border: 2px solid #333 !important;
  };
  .my-position {
  position: fixed;
  }
  .zindex{
  position: relative;
  z-index: 5;
  background: #fff;
  }
  .col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
  }
  .img-zoom-container .img-zoom-result {
      width:700px !important; 
    height:700px !important; 
    background-repeat: no-repeat;
    margin-left: 100px; 
    z-index: 999; 
    position:absolute;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    top: 0;
    left: 100%;
  }
  
  
  }
  
  /*
  _________________________________________________________n-width:1800p____________________________n-width:1800p_________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________
  ______________________________________________________________________________________________ */
  
  
  @media (min-width:1800px) {
    
.quickview-plus-minus {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}
.quickview-btn-cart > a {
  background-color: #3a3a3a;
  color: #fff !important;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
}
.myInput-btn > a {
  background-color: #fff9f9;
  color: #3a3a3a !important;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;;
}
.quickview-btn-wishlist > a {
  border: 1px solid #dcdcdc;
  color: #727272;
  display: inline-block;
  font-size: 22px;
  padding: 11px 18px 2px;
  z-index: 0;
}
      .width-80 {
        width: 80% !important;
    }
    
    .perdonal-open-sidebar {
      padding-top: 12px;
    }
    .sidebar {
      padding: 20px;
      width: 100% !important;
      color: rgb(19, 19, 19);
    }
    .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
      .mx-md-newnav {
        margin-left: 13rem !important;
        margin-right:13rem !important;
        }
      .container {
        max-width: 1600px !important;
      }
      .small-my {
        display: none;
      }
      .o-scroll{
        overflow-y: scroll;
        height:600px;
        width: 100%;
        background: #fff;
        
    }
  
  .my-position {
      position: fixed; 
      left: 781px;
  }
    
    .nav-top {
      margin-top: 60px !important;
      }
      .dm-responsive {
        display: none;
    }
    .side-nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 25%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      list-style-type: none;
      padding-inline-start: 0;
      transform: translateX(-100%);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform
  }
  
  
    .img-zoom-container .img-zoom-result {
      width:950px !important; 
      height:750px !important; 
      background-repeat: no-repeat;
      margin-left: 100px; 
      z-index: 999; 
      position:absolute;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
      top: 0;
      left: 100%;
    }
    }

    


























.table.shopping-summery {
	background: #fff;
}
.shopping-cart {
	background: #f6f6f6;
	padding: 50px 0;
}
.shopping-summery thead .main-hading{
	padding:0px 50px;
}
.shopping-summery thead {
	background: #333;
	color: #fff;
}
.shopping-summery thead tr th {
	border: none;
	font-weight: 600;
	color: #fff;
	text-align: center;
}
.shopping-summery tbody tr {
	border-bottom: 1px solid #333;
	margin-top: 20px;
}
.shopping-summery tbody tr img {
	border-radius: 0;
	width: 80px;
	height: 80px;
}
.shopping-summery tbody tr:last-child{
	border:none;
}
.shopping-summery tbody .product-name a {
	font-weight: 600;
	color: #282828;
	font-weight: 600;
	font-size: 17px;
}
.shopping-cart .table p {
	font-size: 14px;
	color: #666;
}
.shopping-summery tbody .product-name a:hover{
	color:#333;
}
.shopping-summery tbody .product img {
	max-width: 70px;
	border-radius: 100%;
	max-height: 65px;
	border: 1px solid #e6e6e6;
	padding: 4px;
}
.shopping-summery tbody .product:hover img{
	border-color:#333;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}

.shopping-cart .table .remove-icon{
	font-size:16px;
}
.shopping-cart .table td {
	vertical-align: middle;
	border-top: 1px solid #eee;
	padding: 30px;
}
.shopping-summery tbody .price {
	text-align: center;
}
.shopping-cart tbody .qty .input-group {
	width: 175px;
	display: inline-block;
}
.shopping-cart .qty .button {
	display: inline-block;
	position: absolute;
	top: 0;
}
.shopping-cart .qty .button.minus{
	left:0;
	border-radius:0;
	overflow:hidden;
}
.shopping-cart .qty .button.plus {
	right: 0;
	border-radius:0;
	overflow:hidden;
}
.shopping-cart .qty .button .btn {
	padding: 0;
	width: 44px;
	height: 47px;
	line-height: 50px;
	border-radius: 0px;
	background: transparent;
	color: #282828;
	border: none;
	font-size: 12px;
}
.shopping-cart .qty .button .btn:hover{
	color:#333;
}
.shopping-cart .qty .input-number {
	border: 1px solid #eceded;
	width: 100%;
	text-align: center;
	height: 47px;
	border-radius:0;
	overflow: hidden;
	padding: 0px 45px;
}
.shopping-summery tbody .total-amount {
	text-align: center;
}
.shopping-summery tbody .action {
	text-align: center;
}
.shopping-summery tbody .action a:hover{
	color:#333;
}


.shopping-cart .total-amount .left .coupon form input {
	width: 220px;
	display: inline-block;
	height: 48px;
	color: #333;
	padding: 0px 20px;
	border: none;
	box-shadow: 0px 0px 5px #0000000a;
}
.shopping-cart .total-amount .left .coupon form .btn {
	display: inline-block;
	height: 48px;
	border: navajowhite;
	margin-left: 4px;
	background: transparent;
	color: #333;
	background: #fff;
	box-shadow: 0px 0px 5px #00000012;
}
.shopping-cart .total-amount .left .coupon form .btn:hover{
	background:#fff;
	color:#333;
}
.shopping-cart .total-amount .left label{
	font-size:22px;
	font-weight:500;
	color:#333;
}
.shopping-cart .total-amount .left .checkbox {
	text-align: left;
	margin: 0;
	margin-top: 20px;
}
.shopping-cart .total-amount .left .checkbox label {
	font-size: 15px;
	font-weight: 400;
	color: #333;
	position: relative;
	padding-left: 30px;
}
.shopping-cart .total-amount .left .checkbox label:hover{
	cursor:pointer;
}
.shopping-cart .total-amount .left .checkbox label input{
	display:none;
}
.shopping-cart .total-amount .left .checkbox label::before {
	position: absolute;
	content: "";
	left: 0;
	top: 4px;
	width: 16px;
	height: 16px;
	border: 1px solid #555555;
	border-radius: 0px;
}
.shopping-cart .total-amount .left .checkbox label::after {
	position: absolute;
	content: "\f00c";
	font-family: "Fontawesome";
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
	line-height: 24px;
	left: 3px;
	top: 0px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	display: block;
	font-size: 11px;
}
.shopping-cart .total-amount .left .checkbox label.checked::after{
	opacity:1;
	visibility:visible;
	transform:scale(1);
}


.shopping-cart .total-amount .right ul li {
	font-size: 15px;
	font-weight: 400;
	color: #333;
	margin-bottom: 12px;
}
.shopping-cart .total-amount .right ul li.last {
	padding-top: 12px;
	border-top: 1px solid #090909;
	color: #333;
	font-size: 15px;
	font-weight: 400;
}
.shopping-cart .total-amount .right ul li span{
	display:inline-block;
	float: right;
}
ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.shopping-cart .total-amount .right .button5 .btn {
	text-align: center;
	border-radius: 0;
	width: 100%;
	margin-top: 10px;
	height: 46px;
	line-height: 18px;
	font-size: 13px;
	color: #fff;
}

/*
______________________________________________________________________________________________
______________________________________________________________________________________________
______________________________________________________________________________________________
______________________________________________________________________________________________ */



.img-primary{
   object-fit: cover;
  /* box-shadow: 0 0 3px 2px rgba(0,0,0,.3); */
  margin: auto;
  /* border: 1px solid #aaa; */
  width: 100%;
  height: 400px;
}

.img_my {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
.dos { 
  width: 100%;
  height: 100%;
}
.position-index {
  z-index: 998 !important;
}

.list-group-item { 
    border: 0px;
}
.list-group-item.active {
    z-index: 2 !important;
    color: #000 !important;
    background-color: #49484800 !important;
    border-color: none !important;
    border-radius: none!important;
    text-decoration: underline;
    font-weight: 700;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.container {
width: 100% !important;
padding-right: 15px !important;
padding-left: 15px !important;
margin-right: auto !important;
margin-left: auto
}












@media only screen and (max-width:1024px) {
.product-v1 .accordion,
.product-v1 .color,
.product-v2 .accordion,
.product-v2 .color {
margin-left: 2rem;
margin-right: 2rem
}
}
@media (min-width:500px) and (max-width:750px),
(min-width:992px) {
.w-lg-100 {
width: 100% !important
}
}
@media only screen and (max-width:768px) {
.homepage-v1 h2,
.homepage-v2 h2,
.homepage-v3 h2 {
font-size: 1.2rem
}
.homepage-v1 .photo,
.homepage-v2 .photo,
.homepage-v3 .photo {
max-height: 300px
}
.table-cart-v-1 table,
.table-cart-v-1 tbody,
.table-cart-v-1 td,
.table-cart-v-1 th,
.table-cart-v-1 thead,
.table-cart-v-1 tr,
.table-cart-v-2 table,
.table-cart-v-2 tbody,
.table-cart-v-2 td,
.table-cart-v-2 th,
.table-cart-v-2 thead,
.table-cart-v-2 tr {
display: block;
text-align: center
}
.table-cart-v-1 thead tr,
.table-cart-v-2 thead tr {
position: absolute;
top: -9999px;
left: -9999px
}
.table-cart-v-1 img,
.table-cart-v-2 img {
display: block;
margin: 0 auto
}
.table-cart-v-1 td,
.table-cart-v-2 td {
position: relative;
padding-top: 1.5rem !important;
padding-bottom: .4rem !important
}
.table-cart-v-1 td:before,
.table-cart-v-2 td:before {
position: absolute;
top: 6px;
white-space: nowrap;
font-weight: 500;
transform: translate(-50%);
left: 50%
}
.table-cart-v-1 td:nth-of-type(1):before,
.table-cart-v-2 td:nth-of-type(1):before {
content: "Product"
}
.table-cart-v-1 td:nth-of-type(2):before,
.table-cart-v-2 td:nth-of-type(2):before {
content: "Color"
}
.table-cart-v-1 td:nth-of-type(3),
.table-cart-v-2 td:nth-of-type(3) {
position: absolute;
border: none !important
}
.table-cart-v-1 td:nth-of-type(4):before,
.table-cart-v-2 td:nth-of-type(4):before {
content: "Price"
}
.table-cart-v-1 td:nth-of-type(5),
.table-cart-v-2 td:nth-of-type(5) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 1.9rem !important
}
.table-cart-v-1 td:nth-of-type(5):before,
.table-cart-v-2 td:nth-of-type(5):before {
content: "QTY"
}
.table-cart-v-1 td:nth-of-type(6):before,
.table-cart-v-2 td:nth-of-type(6):before {
content: "Amount"
}
.table-cart-v-1 td:nth-of-type(7):before,
.table-cart-v-2 td:nth-of-type(7):before {
content: "Remove item"
}
.table-cart-v-1 tr:nth-child(4) td:nth-of-type(1):before,
.table-cart-v-1 tr:nth-child(4) td:nth-of-type(2):before,
.table-cart-v-1 tr:nth-child(4) td:nth-of-type(4):before,
.table-cart-v-2 tr:nth-child(4) td:nth-of-type(1):before,
.table-cart-v-2 tr:nth-child(4) td:nth-of-type(2):before,
.table-cart-v-2 tr:nth-child(4) td:nth-of-type(4):before {
content: ""
}
.table-cart-v-1 tr:nth-child(4) td:nth-of-type(1),
.table-cart-v-2 tr:nth-child(4) td:nth-of-type(1) {
position: absolute;
border: none !important
}
.table-cart-v-1 tr:nth-child(4) td:nth-of-type(3),
.table-cart-v-2 tr:nth-child(4) td:nth-of-type(3) {
position: relative;
display: flex;
justify-content: center
}
.table-cart-v-1 tr:nth-child(4) td:nth-of-type(4),
.table-cart-v-2 tr:nth-child(4) td:nth-of-type(4) {
border-top: none !important;
display: flex;
justify-content: center;
border-bottom: 1px solid #dee2e6
}
.table-cart-v-1 .btn-group,
.table-cart-v-2 .btn-group {
margin-left: 0 !important
}
}
@media (max-width:740px) {
.w-responsive {
width: 100%
}
}
@media (prefers-reduced-motion) {
.animated {
transition: none !important;
-webkit-animation: unset !important;
animation: unset !important
}
}
@media (max-width:992px) {
.navbar .container {
width: 100%
}
.navbar .container .navbar-toggler-right {
right: 0
}
.navbar .nav-item .nav-link {
padding-right: 6px;
padding-left: 6px
}
}
@media (max-width:600px) {
.navbar .dropdown-menu form {
width: 17rem
}
}
@media (min-width:768px) {
.modal .modal-dialog.modal-top {
top: 0
}
.modal .modal-dialog.modal-left {
left: 0
}
.modal .modal-dialog.modal-right {
right: 0
}
.modal .modal-dialog.modal-bottom {
bottom: 0
}
.modal .modal-dialog.modal-top-left {
top: 10px;
left: 10px
}
.modal .modal-dialog.modal-top-right {
top: 10px;
right: 10px
}
.modal .modal-dialog.modal-bottom-left {
bottom: 10px;
left: 10px
}
.modal .modal-dialog.modal-bottom-right {
right: 10px;
bottom: 10px
}
}
.modal.fade.top:not(.show) .modal-dialog {
transform: translate3d(0, -25%, 0)
}
.modal.fade.left:not(.show) .modal-dialog {
transform: translate3d(-25%, 0, 0)
}
.modal.fade.right:not(.show) .modal-dialog {
transform: translate3d(25%, 0, 0)
}
.modal.fade.bottom:not(.show) .modal-dialog {
transform: translate3d(0, 25%, 0)
}
@media (min-width:992px) {
.modal.modal-scrolling {
position: relative
}
.modal.modal-scrolling .modal-dialog {
position: fixed;
z-index: 1050
}
.modal.modal-content-clickable {
top: auto;
bottom: auto
}
.modal.modal-content-clickable .modal-dialog {
position: fixed
}
.modal .modal-fluid {
width: 100%;
max-width: 100%
}
.modal .modal-fluid .modal-content {
width: 100%
}
.modal .modal-frame {
position: absolute;
width: 100%;
max-width: 100% !important;
margin: 0 !important
}
.modal .modal-frame.modal-bottom {
bottom: 0
}
.modal .modal-full-height {
position: absolute;
top: 0;
right: 0;
display: flex;
width: 400px;
height: auto;
min-height: 100%;
margin: 0
}
.modal .modal-full-height.modal-bottom,
.modal .modal-full-height.modal-top {
display: block;
width: 100%;
max-width: 100%;
height: auto
}
.modal .modal-full-height.modal-top {
bottom: auto
}
.modal .modal-full-height.modal-bottom {
top: auto;
min-height: 0
}
.modal .modal-full-height .modal-content {
width: 100%
}
.modal .modal-full-height.modal-lg {
width: 100%;
max-width: 90%
}
}
@media (min-width:992px) and (min-width:992px) {
.modal .modal-full-height.modal-lg {
width: 800px;
max-width: 800px
}
}
@media (min-width:992px) and (min-width:1200px) {
.modal .modal-full-height.modal-lg {
width: 1000px;
max-width: 1000px
}
}
@media (min-width:992px) {
.modal .modal-side {
position: absolute;
right: 10px;
bottom: 10px;
width: 400px;
margin: 0
}
}
@media (min-width:600px) {
.navbar .dropdown-menu form {
width: 22rem
}
}
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
display: block;
max-width: none;
max-height: none;
}
.xzoom-thumbs {
text-align: center;
margin-bottom: 10px;
}
.xzoom {

margin-bottom: 15px;
}

/* Thumbs */
.xzoom-gallery2{
/*border: 1px solid #cecece;*/
margin-left: 12px;
margin-bottom: 10px;
}
.no_active {
  opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    position: relative;
}

.xzoom-gallery1{
  border: 1px solid #cecece;
  padding: 2px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.xzoom-gallery1:hover{
  border: 1px solid #090909;
}

.not_available{
  content: "";
  position: absolute;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  top: 8px;
  left: 9px;
  width: 115%;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1.5px solid #211e22;
}

.btn-size {
  color: #3a3a3a !important;
  background-color: transparent !important;
  border: 1px solid #3a3a3a !important
}

.btn-size.active,
.btn-size:active,
.btn-size:active:focus,
.btn-size:focus,
.btn-size:hover {
  color: #3a3a3a !important;
  background-color: transparent !important;
  border-color: #3a3a3a !important
}

.xzoom-source,
.xzoom-hidden {
    display: block !important;
    position: absolute !important;
    float: none !important;
    clear: both !important;
}
/* Everything out of border is hidden */
.xzoom-hidden {
overflow: hidden;
}
/* Preview */


a .active {
  border: #090909 solid 1px;
}

.xzoom-preview {
background: #fff;

}




/* Lens */
.xzoom-lens {
border: 1px solid #555;

cursor: crosshair;
}
/* Loading */
.xzoom-loading {
background-position: center center;
background-repeat: no-repeat;
border-radius: 100%;
background: url(../images/xloading.gif);
width: 48px;
height: 48px;
}
.xzoom-source div {
  background-color: rgb(255 255 255 / 0%) !important;
}
/* Additional class that applied to thumb when it is active */
.xactive {
-webkit-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
-moz-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
border: 1px solid #4aaad2;
}
/* Caption */
.xzoom-caption {
position: absolute;
bottom: -43px;
left: 0;
background: #000;
width: 100%;
text-align: left;
}
.xzoom-caption span {
color: #fff;
font-family: Arial, sans-serif;
display: block;
font-size: 0.75em;
font-weight: bold;
padding: 10px;
}











.scrollmenu {
/*background-color: #333;*/
overflow: auto;
width: 100%;
white-space: nowrap;
}
.carousel-indicators {
position: absolute;
right: 0;
bottom: -20px;
left: 74px;
z-index: 0;
display: flex;
justify-content: center;
padding-left: 0;
margin-right: 15%;
margin-left: 15%;

}
.carousel-indicators .active {
opacity: 1 !important;
}
.carousel-indicators li {
box-sizing: content-box !important;
border-radius: 50%;
flex: 0 1 auto !important;
width: 15px !important;
height: 15px !important;
margin-right: 3px !important;
margin-left: 3px !important;
text-indent: -999px !important;
cursor: pointer !important;
background-color: #000 !important;
background-clip: padding-box !important;
border-top: 10px solid #00000005 !important;
border-bottom: 10px solid transparent !important;
opacity: .5 !important;
transition: opacity .6s cubic-bezier(0.4, 0, 1, 1) !important;
}
.carousel-control-next, .carousel-control-prev {
position: absolute;
top: 0;
bottom: 0;
z-index: 0;
display: flex;
align-items: center;
justify-content: center;
width: 3%;
color: #000;
text-align: center;
opacity: .5;
transition: opacity .15s ease;
}





/* ________________________________ */
/* ________________________________ */
/* ________________________________ */
/* ________________________________ */


/* apply a natural box layout model to all elements, but allowing components to change */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.content h1 {
  margin-top: 0;
}


.sidebar h3 {
  margin: 0;
}
.content,
.sidebar {
  float: left;
}


/* The sticky */
.sidebar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 64px !important;
}


.myInput-btn {
  z-index: 0 !important;
  margin: 0;
}
.sidebar-details7 .myInput-btn > a {
  padding: 17px 16px;
}

.btn-hover-blanco::before {
  background: #333 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.myInput-btn > a:hover::before {
  transform: scaleX(1);
}
.btn-hover-blanco:hover {
  color: #fff !important;
}

.card-footer {
  padding: 0;
}

.card-footer .card-price p {
  margin-top: .4rem;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0;
}


.card-ecommerce ul {
  margin-bottom: .6rem;
}
.card-price{
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

.card-price-before{
  font-size: 1rem;
  color: #555;
  text-decoration: line-through;
  margin-left: .6rem;

}

.card-title a{
  font-size: 1rem;
  font-weight: 500;
}
.btn-img img {
  margin: 0 .2rem 0 0!important;

}
.btn-shop {
  cursor: pointer;
  line-height: 4rem;
  padding: 1rem 1.6rem;
  background: rgb(44, 139, 235);
  margin-left: 3rem;
}
.btn-shop .fa-shopping-cart {
  color: #fff;
}
.btn-shop:hover {
  background: rgb(39, 122, 206);
  color: #ccc;
}

.btn-border{
  border: 1px solid #fff!important;
  box-shadow: 0 0 0 1px #dee2e6;
}

.btn-border:hover{
  box-shadow: 0 0 0 2px #404040;
  color: #404040;
}

#mistyle > .card-body {
  background: chartreuse;
  padding: 0;
}
.card > #mistyle-header {
  padding: 0;
  background: #7fff0000;
}

